#eventContainer{
    display: none;
    right: 35%;
    top: 25%;
    width: 250px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 25;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#eventContainer.failed{
background-color: rgba(255, 0, 0, 0.699);
}

.eventContainterInputs{
    display: flex;
    flex-direction: column;
    padding: 10;
    width: 200;
    justify-content: space-between;
}

.eventMenu{
    display: flex;
    background-color: wheat;
    flex-direction: column;
    width: 97%;
    height: 97%;
    justify-content: center;
    align-items: center;
}

#eventTime{
    display: flex;
    flex-direction: row !important;
    max-width: 200px;
}

#weekly-options{
    width: 75%;
}

#eventDate{
    text-align: center;
}

.DateContainer{
    height: auto;
}
.nameContainer{
    height: auto;
}


/* Styles for mobile (screen width less than 768px) */
@media screen and (max-width: 768px) {
    #eventContainer {
        width: 100%; /* Take up full width on mobile */
        height: 100vh; /* Take up full viewport height */
        top: 0;
        right: 0;
    }
}