#eventContainer{
    display: none;
    right: 35%;
    top: 25%;
    width: 55%;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 25;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.eventContainterInputs{
    display: flex;
    flex-direction: row;
    padding: 10;
}

.eventMenu{
    display: flex;
    background-color: wheat;
    flex-direction: column;
    width: 97%;
    height: 97%;
    justify-content: center;
    align-items: center;
}