table {
    width: 95%;
    height: 95%;
    top: 2.5%;
    table-layout: fixed;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #5f3244;
}

tbody{
    /* display: table; */
    width: 100%;
    height: 100%;
}


th{
    height: 8vh;
}

th button{
 margin-left: 5%;
 margin-right: 5%;
}


td{
    text-align: left;
    vertical-align: initial;
    text-indent: 2%;
    font-weight: bold;
    width: calc(90%/7);
    height: calc(90%/7);
    max-width: calc(90vw/7);
    overflow: hidden;
    max-height: calc(90%/7);

}


/* Styles for mobile (screen width less than 768px) */
@media screen and (max-width: 768px) {
    th {
       font-size: smaller;
    }

    button {
        margin: 0;
        font-size:  smaller;
    }
}